footer {
    height: 150px;
   background-color: bisque;
background-image: url(/Img/sakura.jpg) !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;

    .logoFooter {
        height: 100px;
    }

}
